body{
	position: relative;
	width: 100%;
	margin: 0;
	background: #FFFFFF;
	font-family: 'Montserrat';
}
.block{
	background-image: -webkit-linear-gradient(30deg, #F9F9F9 50%, #E2C287 50%);
	height: 100%;
}

.active {
    border-bottom: 2px solid #FFF;
    padding-bottom: 6px;
}
.container {
    display: inline-flex;
    max-width: 100%;
    padding: 0px 20px 0px 20px;
    /*margin: 13px;*/
  }

.socials {
    margin: 18.01% 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2c287;
    border-radius: 30px;
    justify-content: space-evenly;
    height: 291px;
    width: 46px;
    padding: 5px 5px;
    text-align: center;
}

.socials a {
    margin-bottom: 5px;
}
.intro{
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #E2C287;
}

.content {
    max-width: 80%;
    margin: auto;
    margin-bottom: 0px;
}

.btn {
    padding: 10px 30px;
    background: #E2C287;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.lead-text {
    margin-bottom: 15px;
    color: #e2c287;
}
.name {
    margin-bottom: 15px;
    color: #071E25;
    font-size: x-large;
}
.content-body {
    margin-top: 10%;
    display: flex;
}
.body-text {
    margin-top: 3vh;
    max-width: 50%;
}
}
.para-title {
    margin-bottom: 15px;
    font-weight: bold;
    color: #4E4E4E;
}

.para-body {
    margin-bottom: 15px;
    color: #4E4E4E;
}

.body-img {
    margin-bottom: 0;
    max-width: 50%;
}
.body-img img {
    max-width: 100%;
    max-height: 600px;
    margin-bottom: -10px;
}


@media screen and (max-width: 600px) {
	body{
		color: #FFF;
		background: #E2C287;
	}
  	.body-img{
  		display: none;
  }
  	.block{
  		background: #E2C287;
  }
  	.body-text {
    	margin-top: 0vh;
		max-width: 100%;
	}
	.name{
		color: #FFF;
	}
	.para-body{
	    color: #FFF;
	}
	.btn{
		border: 2px solid #FFF;
	}
	.container{
		display: inline-block;
	}
	.socials{
	    border: 1px solid #FFF;
	    margin: 18.01% -7px 0px;
	    height: 46px;
	    width: 100%;
	    display: flex;
    	justify-content: space-between;
	    flex-direction: unset;
        align-items: center;
	    padding: 5px 5px 0px;
	}
	.socials img{
		-webkit-filter: invert(1);
	}
	.brand-image{
		left: 40px;
	}

}

.navbar {
    font-size: 18px;
    /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.menu {
    display: block;
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0px 14vw;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 10px;
    }

    .navbar-toggle {
        display: none;
    }
}